#game-title {
    margin: 0;
    text-align: center;
    color: palevioletred;
    text-shadow: 5px 10px 5px ghostwhite;
    text-decoration: lightseagreen wavy underline;
}

.game-rules {
    margin: 0;
    text-align: center;
    color: palevioletred;
}

.game-buttons {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

h3 {
    padding: 25px 0 0 0;
    margin: 0;
    color: palevioletred;
    text-decoration: lightseagreen wavy underline;
}

.player-moves {
    color: rgb(9, 127, 156)
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    isolation: isolate;
    background-color: gainsboro;
}

/* pseudo-element to be able to add opacity to background image */
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://wallpaperaccess.com/full/3068010.jpg");
    opacity: 0.2;
    background-size: cover;
    background-repeat: no-repeat;
}

.restart {
    font-weight: bolder;
    background-color: rgb(9, 127, 156);
    color: white;
    height: 30px;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 3rem);
    grid-template-rows: repeat(3, 3rem);
    grid-gap: 2.5rem;
    /* perspective of the image flip */
    perspective: 800px;
    cursor: help;
}

.card {
    /* accommodates the position: absolute on the .face, .back so the two fit onto the image */
    position: relative;
    /* image flip; */
    transform-style: preserve-3d;
    /* timing of the image flip */
    transition: all 2s ease;
}

.face {
    transform: rotateY(180deg);
}

.face,
.back {
    height: 175%;
    width: 175%;
    position: absolute;
}

.back {
    background: lightseagreen;
    position: absolute;
    /* shows the back of the card, so the front is hidden */
    backface-visibility: hidden;
}

/* rotation of the image flip */
.toggleCard {
    transform: rotateY(180deg);
}

/* .toggleCardBack {
    transform: rotateY(-180deg);
    animation-duration: 1s;
} */